@import url("solarized-light.css");
@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  src: local('Consolas'), url(http://themes.googleusercontent.com/licensed/font?kit=Zl8GCCaOFFtFoHFpBV1tmfesZW2xOQ-xsNqO47m55DA) format('woff');
}

code,
pre {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 16px;
    border: 1px #ccc solid;
    background-color: #f9f9f9;
    color: #586e75;
}

code {
  font-size: 14px;
  padding: 3px;
}
